<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Express Router</title>
    <meta name="description" content="Router Express 1.0.1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5;url=http://google.com" />


    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    <header>
      <h1>
        Express Router
      </h1>
    </header>

    <main>
      <p class="bold">This site is meant to traffic redirects. You will be directed in a few seconds..</p>
      
    </main>

    <footer>
      Created by ggmpeg / Bean.
    </footer>

  </body>
</html>
